html
    head
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700")
        link(rel="stylesheet" href="/css/market.css")
    body
        .home.dog-app(data-lightbox=showLightbox)

            .lightbox
                .lightbox__content
                    form.lightbox__form(action="/news" method="GET")
                        button.btn(@click="") X
                    h1.lightbox__header Edit Product base
                    form.lightbox__form(action="/editNews/"+ news[0].newsId method="POST")
   
                        .lightbox__form-control
                            label.lightbox__label News title
                            input.lightbox__input(type="text" name="title" value= news[0].title)
                            if (errors && errors.title)
                                p.lightbox__error #{ errors.title.msg }
                        .lightbox__form-control
                            label.lightbox__label Image
                            input.lightbox__input(placeholder="www.image.image.jpg" type="text" name="imageLink" value=news[0].imageLink )
                            if (errors && errors.imageLink)
                                p.lightbox__error #{ errors.imageLink.msg }
                        .lightbox__form-control
                            label.lightbox__label News
                            input.lightbox__input(placeholder="News" type="text" name="news" value=news[0].news)
                           
                        .lightbox__form-control
                            label.lightbox__label likes
                            input.lightbox__input(placeholder="0" type="text" name="likes" value=news[0].likes)

                        .lightbox__form-control
                            label.lightbox__label unlikes
                            input.lightbox__input(placeholder="0" type="text" name="unlikes" value=news[0].unlikes)
                           
                        .lightbox__actions
                            button.btn.btn--primary Accept

            if (formMessage && formMessage.length)
                .lightbox(v-show="showFeedback")
                    .lightbox__content
                        h2.lightbox__header #{ formMessage }
                        .lightbox__actions.lightbox__actions--centered
                            button.btn.btn--primary(@click="closeFeedbackLightbox") Close

        script(src="https://cdn.jsdelivr.net/npm/vue" type="text/javascript")
        script(src="/js/app.js")
