html
    head
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700")
        link(rel="stylesheet" href="/css/market.css")
    body
        .home.dog-app(data-lightbox=showLightbox)
            header.app-header
                nav.app-nav
                    ul.app-nav__list
                        li.app-nav__list-item
                            a.app-nav__link(href="/productBase") product base
                        li.app-nav__list-item
                            a.app-nav__link(href="/upload")  upload file xml
                        li.app-nav__list-item
                            a.app-nav__link(href="/getMarket")  markets
                        li.app-nav__list-item
                            a.app-nav__link(href="/news")  news
                        li.app-nav__list-item
                            a.app-nav__link.app-nav__link--is-active(href="/mems")  mems
                        li.app-nav__list-item
                            a.app-nav__link(href="/contact")  contact

            .lightbox(v-show="formLightbox == true" style="display: none;")
                .lightbox__content
                    h2.lightbox__header Upload your mem files
                    form.lightbox__form(action="/uploadMem" method="POST" enctype="multipart/form-data")
                        .lightbox__form-control
                            label.lightbox__label Files to Upload!
                            input.lightbox__input(type="file" name="sampleFile")
                        .lightbox__actions
                            button.btn.btn--primary Accept

            .wrapper
                section.slogan
                        .actions
                            button.btn.btn--primary(@click="formLightbox = true") upload mem files
                
                table.table__style        
                            for mem in mems
                              table.table__style
                                tr 
                                    th.name_column= mem.patchFile
                                    th.link_column= mem.createdDate
                                    td 
                                      img(src=mem.patchFile, height='250')
                                    th.action_column
                                        form(action='/delMem/'+ mem.memId method="POST" )
                                            .actions
                                                button.btn.btn--primary(@click="") del
                footer.app-footer

            if (formMessage && formMessage.length)
                .lightbox(v-show="showFeedback")
                    .lightbox__content
                        h2.lightbox__header #{ formMessage }
                        .lightbox__actions.lightbox__actions--centered
                            button.btn.btn--primary(@click="closeFeedbackLightbox") Close

        script(src="https://cdn.jsdelivr.net/npm/vue" type="text/javascript")
        script(src="/js/app.js")


