html
    head
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700")
        link(rel="stylesheet" href="/css/main.css")
    body
        .home.dog-app(data-lightbox=showLightbox)
            header.app-header
                nav.app-nav
                    ul.app-nav__list
                        li.app-nav__list-item
                            a.app-nav__link(href="/") home
                        li.app-nav__list-item
                            a.app-nav__link(href="/upload")  upload file xml
                        li.app-nav__list-item
                            a.app-nav__link.app-nav__link--is-active(href="#")  Search game
                        li.app-nav__list-item
                            a.app-nav__link(href="#")  how it works?
                        li.app-nav__list-item
                            a.app-nav__link(href="/contact")  contact
            .wrapper
                section.search
                    h1.search__header
                    form.search__form(action='/getProducts' method="GET" role="search" type="search")
                        input.search__input(placeholder="What games you want buy" type="text" name="name")
                        .actions_inline
                            button.btn.btn--primary(@click="return q.value") search
                        
                    table.title 
                        tr
                            th #{ SQLProducts[0].title }
                            th #{ SQLProducts[0].price } GBP
                        tr 
                            th #{ SQLProducts[1].title }
                            th #{ SQLProducts[1].price } GBP
                        tr 
                            th #{ SQLProducts[2].title }
                            th #{ SQLProducts[2].price } GBP
                        tr 
                            th #{ SQLProducts[3].title }
                            th #{ SQLProducts[3].price } GBP
                        tr 
                            th #{ SQLProducts[4].title }
                            th #{ SQLProducts[4].price } GBP
                        tr 
                            th #{ SQLProducts[5].title }
                            th #{ SQLProducts[5].price } GBP
                        tr 
                            th #{ SQLProducts[6].title }
                            th #{ SQLProducts[6].price } GBP
                        tr 
                            th #{ SQLProducts[7].title }
                            th #{ SQLProducts[7].price } GBP
                        tr 
                            th #{ SQLProducts[8].title }
                            th #{ SQLProducts[8].price } GBP
                        tr 
                            th #{ SQLProducts[9].title }
                            th #{ SQLProducts[9].price } GBP
                        tr 
                            th #{ SQLProducts[10].title }
                            th #{ SQLProducts[10].price } GBP
                 
                footer.app-footer
                    | Design by Slawomir :)
            .lightbox(v-show="formLightbox == true" style="display: none;")
                .lightbox__content
                    h2.lightbox__header Upload your xml files
                    form.lightbox__form(action="/upload" method="POST" enctype="multipart/form-data")
                        .lightbox__form-control
                            label.lightbox__label Files to Upload!
                            input.lightbox__input(type="file" name="sampleFile")
                        .lightbox__actions
                            button.btn.btn--primary Accept

            if (formMessage && formMessage.length)
                .lightbox(v-show="showFeedback")
                    .lightbox__content
                        h2.lightbox__header #{ formMessage }
                        .lightbox__actions.lightbox__actions--centered
                            button.btn.btn--primary(@click="closeFeedbackLightbox") Close

        script(src="https://cdn.jsdelivr.net/npm/vue" type="text/javascript")
        script(src="/js/app.js")
