html
    head
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700")
        link(rel="stylesheet" href="/css/main.css")
    body
        .home.dog-app(data-lightbox=showLightbox)
            header.app-header
                nav.app-nav
                    ul.app-nav__list
                        li.app-nav__list-item
                            a.app-nav__link(href="/productBase") product base
                        li.app-nav__list-item
                            a.app-nav__link(href="/upload")  upload file xml
                        li.app-nav__list-item
                            a.app-nav__link.app-nav__link--is-active(href="/getProducts?name=")  Search Game
                        li.app-nav__list-item
                            a.app-nav__link(href="/market")  markets
                        li.app-nav__list-item
                            a.app-nav__link(href="/news")  news
                        li.app-nav__list-item
                            a.app-nav__link(href="#")  contact
            .wrapper
                section.search
                    h1.search__header
                    form.search__form(action='/getProducts' method="GET" role="search" type="search")
                        input.search__input(placeholder="What games you want buy" type="text" name="name")
                        .actions_inline
                            button.btn.btn--primary(@click="return q.value") search
                table.table__style
                            thead
                                tr
                                    th.title_column Title
                                    th.price_column Price
                                    th.market_column Market
                                    th.action_column Action
                                    
                            for product in SQLProducts
                              table.table__style
                                tr
                                    th.title_column= product.title 
                                    th.price_column= product.price
                                    th.market_column= product.currency
                                    th.action_column= product.shop 
                                
                footer.app-footer

            if (formMessage && formMessage.length)
                .lightbox(v-show="showFeedback")
                    .lightbox__content
                        h2.lightbox__header #{ formMessage }
                        .lightbox__actions.lightbox__actions--centered
                            button.btn.btn--primary(@click="closeFeedbackLightbox") Close

        script(src="https://cdn.jsdelivr.net/npm/vue" type="text/javascript")
        script(src="/js/app.js")
