html
    head
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700")
        link(rel="stylesheet" href="/css/market.css")
    body
        .home.dog-app(data-lightbox=showLightbox)

            .lightbox
                .lightbox__content
                    form.lightbox__form(action="/getMarket" method="GET")
                        button.btn(@click="") X
                    h1.lightbox__header Edit Market
                    form.lightbox__form(action="/editMarket/"+ market[0].marketId method="POST")
   
                        .lightbox__form-control
                            label.lightbox__label Market name 
                            input.lightbox__input(type="text" name="name" value= market[0].name)
                            if (errors && errors.name)
                                p.lightbox__error #{ errors.name.msg }
                        .lightbox__form-control
                            label.lightbox__label Home Page link
                            input.lightbox__input(placeholder="www.market.com" type="text" name="linkMarket" value=market[0].link )
                            if (errors && errors.linkMarket)
                                p.lightbox__error #{ errors.linkMarket.msg }
                        .lightbox__form-control
                            label.lightbox__label Link to logo
                            input.lightbox__input(placeholder="http://storage/logo.jpg" type="text" name="logo" value=market[0].logo)
                           
                        .lightbox__form-control
                            label.lightbox__label TrustPilot link
                            input.lightbox__input(placeholder="http://trustPilot.com/companyname" type="text" name="raiting" value=market[0].raiting)
                           
                        .lightbox__form-control
                            label.lightbox__label Description
                            textarea.lightbox__input(placeholder="Write something about your company" rows="10" name="description")=market[0].description
                           
                        .lightbox__form-control
                            label.lightbox__label Contact to support
                            input.lightbox__input(placeholder="example@example.com" type="text" name="support" value=market[0].support)

                        .lightbox__form-control
                            label.lightbox__label Adress
                            input.lightbox__input(placeholder="adress" type="text" name="adress" value=market[0].adress)
                        
                        .lightbox__actions
                            button.btn.btn--primary Accept

            if (formMessage && formMessage.length)
                .lightbox(v-show="showFeedback")
                    .lightbox__content
                        h2.lightbox__header #{ formMessage }
                        .lightbox__actions.lightbox__actions--centered
                            button.btn.btn--primary(@click="closeFeedbackLightbox") Close

        script(src="https://cdn.jsdelivr.net/npm/vue" type="text/javascript")
        script(src="/js/app.js")
